.layout {
  max-width: var(--max-section-width);
  width: 100%;
  padding: 0 70px;
  box-sizing: border-box;
}

.start-page__movie-card {
  width: 300px;
}

.random-film {
  display: flex;
}

.random-film__form {

}

.random-film__mood-buttons {
  display: flex;
  column-gap: 10px;
}

.random-film__search-button {
  border-radius: 10px;
  border: none;
  font-size: 28px;
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  background: var(--action-gradient-bg);
}

.random-film__mood-button {
  width: 64px;
  height: 64px;
  border: none;
  border-radius: 50%;
  padding: 0;
  background: center / contain no-repeat;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.random-film__mood-button:hover {
  transform: scale(1.05);
}

.random-film__mood-button_type_sad {
  background-image: url(../../images/face-sad.svg);
}

.random-film__mood-button_type_amazed {
  background-image: url(../../images/face-amazed.svg);
}

.random-film__mood-button_type_basic {
  background-image: url(../../images/face-basic.svg);
}

.random-film__mood-button_type_funny {
  background-image: url(../../images/face-funny.svg);
}

.random-film__mood-button_type_tense {
  background-image: url(../../images/face-tense.svg);
}

.random-film__mood-button_type_tense {
  background-image: url(../../images/face-tense.svg);
}

.random-film__mood-button_active {
  filter: saturate(2);
  position: relative;
}

.random-film__mood-button_active:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(../../images/circle.svg) center / contain no-repeat;
}
