.movies-cards {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
}

@media screen and (max-width: 1180px) {
  .movies-cards {
    grid-template-columns: repeat(2, minmax(300px, 364px));
  }
}

@media screen and (max-width: 720px) {
  .movies-cards {
    grid-template-columns: minmax(250px, 400px);
  }
}

@media screen and (max-width: 450px) {
  .movies-cards {
    row-gap: 18px;
  }
}
