.movies-cards {
  margin: 0;
  padding: 70px 0 30px;
  list-style: none;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 364px);
  gap: 30px 24px;
}

@media screen and (max-width: 1024px) {
  .movies-cards {
    grid-template-columns: repeat(2, minmax(300px, 364px));
  }
}

@media screen and (max-width: 768px) {
  .movies-cards {
    gap: 36px 30px;
  }
}

@media screen and (max-width: 720px) {
  .movies-cards {
    grid-template-columns: minmax(300px, 364px);
  }
}

@media screen and (max-width: 450px) {
  .movies-cards {
    padding: 40px 0 30px;
    row-gap: 16px;
  }
}
