.movies-card {
  background-color: #252525;
  border-radius: 12px;
}

.movies-card__poster-wrapper {
  position: relative;
  cursor: pointer;
}

.movies-card__poster-wrapper:hover {
  opacity: .7;
}

.movies-card__poster {
  width: 100%;
  aspect-ratio: 0.8;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.movies-card__rating {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
  background-color: #252525;
  font-weight: 600;
  font-size: 14px;
  padding: 6px 10px;
  border-radius: 4px;
}

.movies-card__btn-wrapper {
  grid-area: buttons;
  display: flex;
  column-gap: 8px;
}

.movies-card__info-wrapper {
  padding: 14px;
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
}

.movies-card__action-btn {
  width: 30px;
  height: 30px;
  justify-self: flex-end;
  border: none;
  background: center / contain no-repeat;
  cursor: pointer;
  padding: 0;
}

.movies-card__action-btn:hover {
  opacity: .7;
}

.movies-card__action-btn:active {
  transform: scale(.9);
}

.movies-card__action-btn_type_liked {
  background-image: url(../../images/action-btn-liked.svg);
}

.movies-card__action-btn_type_default {
  background-image: url(../../images/action-btn-default.svg);
}

.movies-card__action-btn_type_remove {
  background-image: url(../../images/action-btn-remove.svg);
}

.movies-card__subtitle {
  grid-area: duration;
  color: #8b8b8b;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  margin: 0;
}

.movies-card__title {
  grid-area: title;
  color: var(--textcolor-main);
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 8px;
}
