.movies-card {
  background-color: #252525;
  border-radius: var(--border-rad-l);
}

@keyframes pulse {
  from {
    opacity: 0.1;
  }
  to {
    opacity: .3;
  }
}

.movies-card__skeleton {
  border-radius: var(--border-rad-l);
  background-color: var(--textcolor-main);
  opacity: 0.6;
  width: 100%;
  aspect-ratio: 0.69;
  animation: pulse 0.8s ease-out alternate infinite;
}

.movies-card__poster-wrapper {
  position: relative;
  cursor: pointer;
}

.movies-card__poster-wrapper:hover {
  opacity: .7;
}

.movies-card__poster {
  width: 100%;
  aspect-ratio: 0.7;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.movies-card__rating {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
  background-color: #252525;
  font-weight: 600;
  font-size: 14px;
  padding: 6px 10px;
  border-radius: 4px;
}

.movies-card__btn-wrapper {
  grid-area: buttons;
  display: flex;
  column-gap: 4px;
}

.movies-card__info-wrapper {
  padding: 14px;
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
}

.movies-card__subtitle {
  grid-area: duration;
  color: #8b8b8b;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  margin: 0;
}

.movies-card__title {
  grid-area: title;
  color: var(--textcolor-main);
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 8px;
}
