.button {
  border: none;
  background: grey;
  cursor: pointer;
  transition: opacity .3s ease;
}

@media (hover:hover) {
  .button:hover {
    opacity: 0.8;
  }
}

.button:active {
  transform: scale(.98);
}

