.promo {
  padding: 75px 0;
  background-color: #073042;
}

.promo__nav-tab {
  background-color: transparent;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  padding: 9px 19px;
  color: var(--textcolor-main);
  border: 1px solid rgba(255, 255, 255, .6);
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}

.promo__nav-tab:hover {
  opacity: .7;
}

.promo__nav-tab:active {
  transform: scale(.98);
}

.promo__inner {
  padding-left: 70px;
  padding-right: 70px;
  position: relative;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.promo__title {
  margin: 0 0 36px;
  padding: 0;
  color: var(--textcolor-main);
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  max-width: 640px;
  z-index: 2;
}

.promo__subtitle {
  padding: 0;
  margin: 0 0 146px;
  color: var(--textcolor-main);
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  opacity: .5;
  max-width: 310px;
  z-index: 2;
}

.promo__logo {
  width: 310px;
  height: 304px;
  background: url(../../images/landing-logo.svg) center / contain no-repeat;
  position: absolute;
  right: 70px;
  top: 0;
}

@media screen and (max-width: 1080px) {
  .promo__title {
    max-width: 480px;
    font-size: 40px;
    line-height: 50px;
  }
}

@media screen and (max-width: 880px) {
  .promo {
    padding: 140px 0 76px;
  }

  .promo__inner {
    align-items: center;
  }

  .promo__title {
    margin-bottom: 22px;
    max-width: 100%;
    text-align: center;
  }

  .promo__subtitle {
    margin-bottom: 92px;
    text-align: center;
    max-width: 260px;
  }

  .promo__logo {
    position: static;
    order: -1;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 800px) {
  .promo__inner {
    align-items: center;
    padding-left: 44px;
    padding-right: 44px;
  }
}

@media screen and (max-width: 450px) {
  .promo {
    padding: 70px 0 30px;
  }

  .promo__inner {
    padding-left: 10px;
    padding-right: 10px;
  }

  .promo__title {
    margin-bottom: 24px;
    font-size: 28px;
    /* в макете 30px, но с таким значением не pixelPerfect*/
    line-height: 38px;
  }

  .promo__subtitle {
    margin-bottom: 80px;
  }

  .promo__logo {
    width: 210px;
    height: 206px;
    margin-bottom: 44px;
  }
}