.movies {
  box-sizing: border-box;
  flex-grow: 1;
  padding-top: 40px;
  padding-bottom: 60px;
}

.movies__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
}

.movies__more-btn {
  display: block;
  margin: 44px auto 0;
  min-width: 200px;
}

.movies__load-btn:hover {
  opacity: .7;
}

.movies__load-btn:active {
  transform: scale(.98);
}

@media screen and (max-width: 800px) {
  .movies {
    padding: 0 30px;
  }
}

@media screen and (max-width: 450px) {
  .movies {
    padding: 0 10px;
  }

  .movies__load-btn {
    min-width: 240px;
    margin-bottom: 100px;
  }
}
