.search-form {
  margin-bottom: 56px;
}

.search-form__filters {
  display: flex;
  column-gap: 16px;

}

@media screen and (max-width: 800px) {
  .search-form {
    padding-bottom: 51px;
  }
}

@media screen and (max-width: 450px) {
  .search-form {
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 63px;
  }

  .search-form__input {
    font-size: 16px;
    line-height: 1;
    padding: 17px 102px 17px 12px;
  }

  .search-form__button {
    margin: 6px;
    min-width: 80px;
  }

  .search-form__error {
    font-size: 10px;
    bottom: 7px;
    left: 15px
  }
}
