.header {
  padding: 18px 70px;
  max-width: var(--max-section-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.header_place_landing {
  background-color: #073042;
}

.header__burger {
  width: 44px;
  height: 44px;
  background: url(../../images/burger.svg) center / contain no-repeat;
  cursor: pointer;
  border: none;
  transition: transform .1s ease;
  display: none;
  z-index: 20;
}

.header__burger_opended {
  background-image: url(../../images/burger-close.svg);
}

.header__burger:active {
  transform: scale(.6);
}

.header__burger:hover {
  opacity: .7;
}


@media screen and (max-width: 768px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }

  .header__burger {
    display: block;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding-left: 14px;
    padding-right: 14px;
  }

  .navigation__link {
    font-size: 10px;
  }
}
