.form-input {
  display: flex;
  flex-direction: column;
}

.form-input__title {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8b8b8b;
  margin-bottom: 10px;
}

.form-input__input {
  background-color: #2f2f2f;
  border-radius: 8px;
  border: none;
  box-sizing: border-box;
  padding: 15px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: var(--textcolor-main);
}

.form-input__input:focus {
  outline: 1px solid #8b8b8b;
}

.form-input__error-message {
  color: var(--error-color);
  font-weight: 400;
  line-height: 1;
  font-size: 10px;
  margin-top: 10px;
  min-height: 10px;
}
