.movie-page {
  flex-grow: 1;
  padding: 24px 0 60px;
}

.movie-page__main-content {
  display: flex;
}

.movie-page__info-wrapper {
  flex-grow: 1;
}

.movie-page__header {
  display: flex;
  margin-bottom: 35px;
  column-gap: 20px;
  justify-content: space-between;
  width: 100%;
}

.movie-page__rating-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.movie-page__rating-buttons {
  display: flex;
  margin-top: 10px;
  column-gap: 10px;
}

.movie-page__article {
  max-width: 572px;
}

.movie-page__poster {
  margin-right: 48px;
  width: 350px;
  height: 520px;
  object-fit: cover;
  order: -1;
  flex-shrink: 0;
}

.movie-page__title {
  margin: 0 0 12px;
  font-size: 32px;
  font-weight: 500;
}

.movie-page__subtitle {
  margin: 0;
  font-size: 14px;
  color: var(--texcolor-secondary);
}

.movie-page__description {
  margin: 0 0 24px;
  font-size: 16px;
  line-height: 24px;
}

.movie-page__second-headind {
  margin: 0 0 20px;
  font-size: 24px;
  font-weight: 500;
}

.movie-page__props {
  display: grid;
  grid-template-columns: max-content auto;
  grid-gap: 16px 40px;
  font-size: 14px;
  line-height: 20px;
}

.movie-page__prop-title {
  margin: 0;
  color: var(--texcolor-secondary);
  font-weight: inherit;
  font-size: inherit;
}

.movie-page__prop-value {
  margin: 0;
}

.movie-page__rating {
  font-size: 16px;
  font-weight: 600;
  background-color: var(--accent-background);
  border-radius: var(--border-rad-m);
  padding: 10px;
}

.movie-page__back-btn {
  display: flex;
  align-items: center;
  background: transparent;
  color: inherit;
  font-size: 18px;
  padding: 0;
  border: none;
  cursor: pointer;
  margin-bottom: 24px;
}

.movie-page__back-btn:hover {
  opacity: 0.8;
}

.movie-page__back-btn::before {
  margin-right: 5px;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  transform: rotate(90deg);
  background: url(../../images/v.svg) center / contain no-repeat;
}
