@import url(./vendor/Inter/Inter.css);

body {
  margin: 0;
  padding: 0;
}

:root {
  --bgcolor-main: #202020;
  --bgcolor-light: #272727;
  --textcolor-main: #fff;
  --bgcolor-action: #3DDC84;
  --max-section-width: 1140px;
  --bgcolor-buttons: #4285F4;
}

