@import url(./vendor/fonts/fonts.css);

body {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --bgcolor-main: #151515;
  --bgcolor-light: #272727;
  --textcolor-main: #fff;
  --bgcolor-action: #3DDC84;
  --max-section-width: 1280px;
  --bgcolor-buttons: #4285F4;
  --error-color: #ee3465;
}
